@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  border: solid;
  margin: 0 auto;
  min-width: 1023px;
  max-width: 1023px;
}

.header {
  border: solid;
  min-height: 87px;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header a {
  padding-top: 8px;
}
.header .span {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 8px;
  color: white;
  background-color: black;
}
.header .tel {
  padding-right: 10px;
}
.header__title-title {
  font-family: "Sansus Webissimo";
  font-size: 42px;
  line-height: 22px;
  font-weight: 400;
  text-shadow: 0px 1px 0px #ffffff;
  color: #3f3f3f;
  display: flex;
}
.header__item {
  margin: 15px 0 0 38px;
}
.header__title {
  margin: 38px 0 0 10px;
}
.header__links {
  color: red;
  padding-top: 57px;
  padding-right: 36px;
  font-size: 16px;
}
.header__row-2 {
  padding-right: 15px;
  min-width: 1017px;
  max-width: 1017px;
}
.header__home1 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 20px;
  padding-right: 10px;
  color: #ffffff;
  min-width: 58px;
  background-color: black;
}
.header__home {
  color: #ffffff;
  min-width: 58px;
}
.header__links-second {
  border-radius: 5px;
  min-height: 33px;
  background-color: red;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.main__row {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1011px;
  min-height: 311px;
  display: flex;
  margin-top: 10px;
}
@media (max-width: 900px) {
  .main .main__row {
    display: block;
  }
}
@media (max-width: 900px) and (max-width: 600px) {
  .main .main__gold, .main .main__row-2 {
    display: block;
  }
  .main .main__row-2 {
    margin-left: 200px;
  }
}
.main__gold {
  border-radius: 5px;
  min-width: 675px;
  display: flex;
  background-color: rgb(255, 0, 0);
}
.main__body {
  display: block;
}
.main__title {
  padding: 60px 0 0 40px;
  font-family: "Bebas Neue";
  font-size: 30px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f6ee79;
}
.main__foto {
  padding: 10px 0 0 40px;
}
.main__text {
  padding: 10px 0 0 40px;
  font-family: "Bebas Neue";
  font-size: 28px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ebe8e8;
}
.main__image {
  padding-top: 60px;
}
.main__login {
  background-color: black;
  min-width: 271px;
  margin-left: 14px;
}
.main__base-title {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
}
.main__title-login {
  margin-left: 5px;
  font-family: "Helvetica Neue Cond";
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ececec;
}
.main__input {
  margin-left: 30px;
  margin-top: 10px;
}
.main input {
  font-size: 16px;
  padding-left: 20px;
}
.main .submit {
  margin-top: 50px;
  background-color: #e24335;
  min-height: 37px;
  min-width: 87px;
}
.main .submit-2 {
  margin-top: 20px;
  background-color: #e24335;
  min-width: 184px;
  min-height: 36px;
}
.main button {
  border-radius: 5px;
  font-family: "Helvetica Std";
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  color: #ececec;
}
.main input {
  min-height: 30px;
  min-width: 221px;
}
.main__button {
  text-align: center;
}
.main__title-button {
  margin-top: 10px;
  text-align: center;
  font-family: "Helvetica Neue Cond";
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ececec;
}
.main__row-2 {
  display: flex;
}
.main__our {
  margin: 24px 0 0 0;
}
.main__images {
  padding: 48px 0 0 70px;
}
.main .b,
.main .c {
  padding-left: 100px;
}

h1 {
  font-family: "Helvetica Neue CE";
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #e24335;
  margin: 0 0 0 51px;
}

ul {
  padding-left: 25px;
  background: url(/img/mark.png) left no-repeat;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #737070;
  margin: 31px 0 10px 82px;
}

h2 {
  font-family: "Helvetica Neue CE";
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #e24335;
  margin: 26px 0 0 43px;
}

.footer {
  align-items: center;
  display: flex;
  background-color: black;
  border: solid;
  min-height: 60px;
}
.footer__first {
  font-family: "Bebas Neue";
  font-size: 28px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ebe8e8;
}
.footer__second {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ececec;
  margin-left: 570px;
}