// Файл обнуляющих стилей
@import "nullstyle.scss";

body {
    background-color: aqua;
}

.wrapper {
    background-color: #e24335;
    max-width: 1280px;
    margin: 0 auto;

}
.container {
    background-color: white;
    // border: solid;
    margin: 0 auto;
    // margin-top: 20px;
    min-width: 1023px;
    max-width: 1023px;
}
.header {
    min-height: 87px;
    &__row {
        display: flex;
        justify-content: space-between;
    }
    a {
        padding-top: 8px;
    }
    .span {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-left: 10px;
        padding-right: 15px;
        padding-top: 8px;
        color: white;
        background-color: black;
    }
    .tel {
        padding-right: 10px;
    }
    &__title-title {
        // margin-top: 30px;
        font-family: "Sansus Webissimo";
        font-size: 42px;
        line-height: 22px;
        font-weight: 400;
        text-shadow: 0px 1px 0px #ffffff;
        color: #3f3f3f;
        display: flex;
    }
    &__item {
        margin: 15px 0 0 38px;
    }
    &__title {
        margin: 38px 0 0 10px;
    }

    &__links {
        color: red;
        padding-top: 57px;
        padding-right: 36px;
        font-size: 16px;
    }
    &__row-2 {
        padding-right: 15px;
        min-width: 1025px;
        max-width: 1017px;
        // display: flex;
        // justify-content: space-between;
    }
    &__home1 {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 20px;
        padding-right: 10px;
        color: #ffffff;
        min-width: 58px;
        background-color: black;
    }
    &__home {
        color: #ffffff;
        min-width: 58px;
    }
    &__links-second {
        border-radius: 5px;
        // color: white;
        min-height: 33px;
        background-color: red;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__phone {
    }
}

.main {
    &__section-1 {
    }
    &__row {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 1011px;
        min-height: 311px;
        display: flex;
        margin-top: 10px;
    }
    @media (max-width: 900px) {
        .main__row {
            display: block;
        }
        @media (max-width: 600px) {
            .main__gold, .main__row-2 {
                display: block;
            }
            .main__row-2 {
                margin-left: 200px;
            }
        }
    }
    &__gold {
        border-radius: 5px;
        min-width: 675px;
        display: flex;
        background-color: rgb(255, 0, 0);
    }

    &__body {
        display: block;
    }
    &__title {
        padding: 60px 0 0 40px;
        // font-family: "Times New Roman";
        font-family: "Bebas Neue";
        font-size: 30px;
        line-height: 22px;
        font-weight: 400;
        text-transform: uppercase;
        color: #f6ee79;
    }
    &__foto {
        padding: 10px 0 0 40px;
    }
    &__text {
        padding: 10px 0 0 40px;
        font-family: "Bebas Neue";
        font-size: 28px;
        line-height: 31px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ebe8e8;
    }
    &__image {
        padding-top: 60px;
    }
    &__login {
        border-radius: 5px;
        background-color: black;
        min-width: 271px;
        margin-left: 14px;
    }
    &__base-title {
        margin-top: 20px;
        margin-left: 30px;
        display: flex;
    }
    &__title-login {
        margin-left: 5px;
        font-family: "Helvetica Neue Cond";
        font-size: 20px;
        line-height: 22px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ececec;
    }
    &__input {
        
        margin-left: 30px;
        margin-top: 10px;
    }
    input {
        font-size: 16px;
        padding-left: 20px;
    }
    .submit {
        margin-top: 50px;
        background-color: #e24335;
        min-height: 37px;
        min-width: 87px;
    }
    .submit-2 {
        margin-top: 20px;
        background-color: #e24335;
        min-width: 184px;
        min-height: 36px;
    }
    button {
        border-radius: 5px;
        font-family: "Helvetica Std";
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
        color: #ececec;
    }
    input {
        min-height: 30px;
        min-width: 221px;
    }
    &__button {
        text-align: center;
    }
    &__title-button {
        margin-top: 10px;
        text-align: center;
        font-family: "Helvetica Neue Cond";
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ececec;
    }
    &__section-2 {
    }
    &__row-2 {
        display: flex;
    }
    &__our {
        margin: 24px 0 0 0;
    }
    &__how {
    }
    &__title-how {
    }
    &__images {
        padding: 48px 0 0 70px;
    }
    .b,
    .c {
        padding-left: 90px;
    }
}
h1 {
    font-family: "Helvetica Neue CE";
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: #e24335;
    margin: 0 0 0 51px;
}
ul {
    padding-left: 25px;
    background: url(/img/mark.png) left no-repeat;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #737070;
    margin: 31px 0 10px 82px;
}

h2 {
    font-family: "Helvetica Neue CE";
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: #e24335;
    margin: 26px 0 0 43px;
}

.footer {
    align-items: center;
    display: flex;
    // text-align: center;
    background-color: black;
    border: solid;
    min-height: 60px;

    &__first {
        font-family: "Bebas Neue";
        font-size: 28px;
        line-height: 31px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ebe8e8;
        margin-left: 10px;
    }
    &__second {
        font-family: Helvetica;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #ececec;
        margin-left: 570px;
        
    }
}
